exportPattern("^[[:alpha:]]+")
export(.fdiff)

S3method(summary, pupil)
S3method(plot, pupil)
S3method(wf3d, pupil)

S3method(summary, wf_fitted)
S3method(print, wf_fitted)
S3method(plot, wf_fitted)
S3method(invert, wf_fitted)

useDynLib(zernike, .registration=TRUE)

importFrom(Rcpp, evalCpp)
importFrom(RcppParallel, RcppParallelLibs)

