exportPattern("^[[:alpha:]]+")
export(.fdiff)

S3method(summary, pupil)
S3method(plot, pupil)
S3method(wf3d, pupil)

useDynLib(zernike, .registration=TRUE)

importFrom(Rcpp, evalCpp)
importFrom(RcppParallel, RcppParallelLibs)

